<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/css/lib/tachyons.min.css" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"> -->
    
    <!-- <script src="/js/lib/jquery.min.js"></script> -->
    <!-- <script src="//unpkg.com/alpinejs" defer></script> -->
    <!-- <script src="https://unpkg.com/mithril/mithril.js"></script> -->

  </head>
  <body class="pa3 sans-serif flex min-vh-100 flex-column">

    <header class="pa3 ba bw2 b--black mb4 fw7 flex items-start justify-between items-center">
      <div class="f2">
        SLIME HBS + TACHYONS DEMO
      </div>
      <div class="f2">
        <a class="no-underline underline-hover green" href="/">꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦</a>
      </div>
    </header>

    <main class="flex-auto">
    {{outlet}}
    </main>

    <footer class="pt2 bt bw2 b--black tr f7 fw7">
      &copy; {{locals.year}} HXGF. All Rights Reserved.
    </footer>

    <script src="/js/lib/instant.page.min.js"></script>
    <!-- <script src="https://cdn.skypack.dev/@hotwired/turbo"></script> -->

  </body>
</html>
