<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/lib/tachyons.min.css" />
</head>
<body>

  <div class="ma5">
    <span class="ml3 f3">.　<a href="https://github.com/hxgf/slime" class="black no-underline">☽</a>　<span class="sans-serif f7 i ml6 o-30">S L I M E . D E M O</span></span>
    <pre class="sans-serif">



        <a class="f5 dark-red no-underline underline-hover" href="/demo">Handlebars + Tachyons Demo</a>

                    
                                                      <a class="f5 blue no-underline underline-hover" href="/notfound">Default 404 Page</a>
                    

                          <a class="f5 green no-underline underline-hover" href="/json-response">JSON Response</a>


                                                                         <a class="dark-pink no-underline underline-hover" href="/hello/cleveland">Hello Cleveland</a>


            _  ﹏__﹏_ک_____ ___ ﹏__﹏_ψ﹏___﹏___﹏﹏﹏____
              ·      ·   · ,  　  ·  ፧  ·   .    ░  　 　  ·    · ,  ⋰

                                                            ∴
  . 　                                                                                  .
  ·  °   ·   ,  . ° 　　　 　 · ,            　      　 　　　              　                     ༶

    </pre>

    <div class="mt5 f7 sans-serif o-30">
      {{locals.site_title}} ({{locals.site_code}}) - {{locals.year}}
    </div>
  </div>





</body>
</html>